.THIS.margin-zero{
    margin-bottom:0 !important;
}
.THIS .fontBold{
    font-weight:bold;
}
.THIS .my-icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafaf9;
    width:1%
}
.THIS .container {
    overflow-y:auto;
    height:75vh;
}
/*.THIS .taxCal>table{
    border-collapse: unset !important;
    width: 70%!important;
    margin-left: 18rem;
}
.THIS .taxCal th,.THIS .taxCal td  {
    border-top: 1px solid #dddbda;
}
.THIS .taxCal table tr:nth-last-child(2) td{
   border-bottom: 1px solid #dddbda;
}
.THIS .taxCal>table .fixedCol {
    position: absolute;
    width:140px;
    left: 0;
    z-index:99;
}
.THIS .taxCal>table .fixedCol1 {
    position: absolute;
    width:65px;
    left: 8.7rem;
    z-index:99;
}
.THIS .taxCal>table .fixedCol2 {
    width:109px;
    position: absolute;
    left: 12.7rem;
    z-index:99;
}*/
.THIS .boldFont{
    font-weight:bold;
}