.THIS .custom_red_box{
    color: red;
    border: 1px solid red;
    padding : 1rem;
    border-radius: 8px;
}
.THIS .custom_green_box{
    color: green;
    border: 1px solid green;
    padding : 1rem;
    border-radius: 8px;
}
.THIS .custom_grey_box{
    color: grey;
    border: 1px solid grey;
    padding : 1rem;
    border-radius: 8px;
}
.THIS .showChatter{
    display: block;
}
.THIS .hideChatter{
    display: none;
}
.THIS .slds-icon-action-approval, .THIS .slds-icon-action-reject{
	background-color: green;
}
.THIS .slds-icon-action-close{
	background-color: red;
}