.THIS.spinsT::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.THIS.spinshipT::after {
    position: absolute;
    content: 'Please wait while loading Shipment Orders!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS.spinInvoiceT::after {
    position: absolute;
    content: 'Please wait while Generating Invoice PDFs!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS.spinsUpdateT::after {
    position: absolute;
    content: 'Please wait while creating invoices!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS .textPadding{
    padding-top: .5rem;
    text-align: right;
}