.THIS .result {
 	color: green;
 }
 
 .THIS p {
 	padding-top: 5px;
 	padding-bottom: 10px;
 }
.THIS .title {
 	font-size: 12px;
 	padding-top: 10px;
 	padding-bottom: 10px;
    padding-left: 95px;
 	font-weight: bold;
 }
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}