.THIS .dragabbleDiv{
  margin: 0 0.5rem;
  padding: 0.6rem;
  background: #dddbda;
  border-radius: 5px;
  text-align: center;
}
.THIS .dropabbleDiv{
  border: 1px solid #dddbda;
  border-radius: 4px;
  padding: 0.4rem;
  text-align: center;
}
.THIS .droppedDiv{
  border: 1px solid #dddbda;
  background: #dddbda;
  border-radius: 4px;
  padding: 0.4rem;
  text-align: center;
}
.THIS .availableCols{
  border: 1px dashed #756e6b;
  padding: 5px;
  border-radius: 5px;
}
.THIS .dropBack{
  height: 40px;
  line-height: 30px;
  color: grey;
}