.THIS.disableSelection{
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.THIS .inputNumber input { 
    text-align: right;
}