.THIS .dragabbleDiv{
  margin: 0 0.5rem;
  padding: 0.6rem;
  background: #dddbda;
  border-radius: 5px;
  text-align: center;
  width: 124px;
}
.THIS .dropabbleDiv{
  border: 1px solid #dddbda;
  border-radius: 4px;
  padding: 0.4rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.THIS .droppedDiv{
  border: 1px solid #dddbda;
  background: #dddbda;
  border-radius: 4px;
  padding: 0.4rem;
  text-align: center;
}
.THIS .availableCols{
  border: 1px dashed #756e6b;
  padding: 5px;
  border-radius: 5px;
  min-width: 111%;
}
.THIS .dropBack{
  height: 40px;
  line-height: 30px;
  color: grey;
}
.THIS .input{
  width: 124px;
}
.THIS .fail{
  background-color: red;
}
.THIS .datacheckfail{
  background-color: orange;
}
.THIS .validatefail{
  background-color: yellow;
}
.THIS .pass{
  background-color: white;
}