.THIS .slds-card__header {
  display: none;
}
.THIS .flag-red{
  height:32px;
  background:red;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flag-red:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid red;
}

.THIS .flag-red:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid red;
  border-left: 16px solid transparent;
  background-color: white;
}
.THIS .flag-orange{
  height:32px;
  background:#ea7133;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flag-orange:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid #ea7133;
}

.THIS .flag-orange:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid #ea7133;
  border-left: 16px solid transparent;
  background-color: white;
}
.THIS .flag-yellow{
  height:32px;
  background:#fdf731;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flag-yellow:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid #fdf731;
}

.THIS .flag-yellow:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid #fdf731;
  border-left: 16px solid transparent;
  background-color: white;
}
.THIS .flag-green{
  height:32px;
  background:#92d050;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flag-green:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid #92d050;
}

.THIS .flag-green:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid #92d050;
  border-left: 16px solid transparent;
  background-color: white;
}
/* .THIS .flagType .slds-col:first-child .flag:before{
  background-color: #b3c6e7;
} */
.THIS .flagType .slds-col:last-child .flag-red:after{
  background-color:white;
  right: -1rem;
}
.THIS .flagType .slds-col:last-child .flag-green:after{
  background-color:white;
  right: -1rem;
}
.THIS .flagType .slds-col:last-child .flag-orange:after{
  background-color:white;
  right: -1rem;
}
.THIS .flagType .slds-col:last-child .flag-yellow:after{
  background-color:white;
  right: -1rem;
}