.THIS .thHead{
    background-color: #f3f2f2;
    position: -webkit-sticky;
    position: sticky !important;
    top: -17px;
    z-index: 2;
}
.THIS .wrappingText{
    white-space: initial;
}
.THIS .maxHeight{
    max-height:18rem
}
.THIS table {
    table-layout: fixed; 
    width: 100%;
    *margin-left: -100px;/*ie7*/
}
.THIS .alignNumber {
    text-align: end;
}
.THIS .inputNumber input { 
    text-align: right;
}
.THIS .label-hidden > label {
    display: none;
}