/*.THIS .modal-open .container-fluid .modal-open .container {
    -webkit-filter: blur(5px) grayscale(90%);
}*/
.THIS div.tableDiv {
    overflow-y: scroll;
    position: relative;
}
.THIS .field-title{
    font-weight: bold;
}
.THIS .overFlow{
    word-wrap: break-word;
    
}
.THIS .triangleTask{
    width: 0;
    height: 0;
    border-top: 30px solid #fbd103;
    border-left: 30px solid transparent;
}

.THIS .triangleCase{
    width: 0;
    height: 0;
    border-top: 30px solid #ada49c;
    border-left: 30px solid transparent;
}
.THIS .color{
    color: #d8cfc3; 
}
.THIS .row {
  display: flex; /* equal height of the children */
}
.THIS .width{
    width: 31.5%;
}
.THIS .pickup{
        font: menu;
    color: #3c3a39;
    font-weight : 400;
    font-size : 0.75rem;

}
.THIS .bold{
    font-weight: 500
}