/* ------  Begin Buttons ----- */
.THIS .Homebutton {
  background-color: #FF4500; /* Orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px 50px;
  cursor: pointer;
  border-radius: 8px;
  
}
.THIS .ZeeHomebutton {
  background-color: #DB0C8E; /* Pink */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px 50px;
  cursor: pointer;
  border-radius: 8px;
  
}
.THIS .Quotebutton {
  background-color: #FF4500; /* Orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 120px;
  cursor: pointer;
  border-radius: 8px;
  
}
.THIS .ZeeQuotebutton {
  background-color: #DB0C8E; /* Pink */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 120px;
  cursor: pointer;
  border-radius: 8px;
  
}
.THIS .Orderbutton {
  background-color: #ffffff; /* white */
  border: none;
  color: #FF4500;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 300px 120px;
  cursor: pointer;
  border-radius: 8px;
 
}
.THIS .Rolloutbutton {
  background-color: #ffffff; /* white */
  border: 2px solid #FF4500;
  color: #FF4500;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 300px 100px;
  cursor: pointer;
  border-radius: 8px;
 
}
.THIS .ProductMapbutton {
  background-color: #ffffff; /* white */
  border: 2px solid #FF4500;
  color: #FF4500;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 300px 100px;
  cursor: pointer;
  border-radius: 8px;
 
}
.THIS .ZeeProductMapbutton {
  background-color: #ffffff; /* white */
  border: 2px solid #01C4FA; /* sky blue*/
  color: #01C4FA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 300px 100px;
  cursor: pointer;
  border-radius: 8px;
 
}
.THIS .Homebutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.THIS .Orderbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.THIS .Quotebutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.THIS .Rolloutbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: #FF4500;
    color: white;
  }
.THIS .ProductMapbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: #FF4500;
    color: white;
  }


 /* background-color: #FF4500; /* Orange */
/* background: -webkit-linear-gradient(-45deg, #ffffff 1%,#ffffff 47%,#f16f5c 47%,#ffffff 47%,#ff4500 50%,#ff4500 70%,#ff4500 99%);
  */
  
 
/* ------  End Buttons ----- */

/* ------ Begin Fonts ----- */

.THIS .H1 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
 }

.THIS .H2 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
 }

.THIS .ccontainer {
    
    margin: 10px 8px 20px 8px;
    border-top: solid 1px #FF4500;
    border-right: solid 1px #FF4500;
    border-left: solid 1px #FF4500;
    border-bottom: solid 1px #FF4500;
    box-shadow:inset 0 0 0px 1px #FF4500;
}
.THIS .page-section {
    border: solid 1px #FF4500;
    padding: 1rem;
}