.THIS .spins::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS.absPos{
    position: absolute;
    width: 100%;
}
.THIS .spinsUpdateInvoice::after {
    position: absolute;
    content: 'Please wait while Updating Invoices!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS .spinship::after {
    position: absolute;
    content: 'Please wait while loading Shipment Orders!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS .spinInvoice::after {
    position: absolute;
    content: 'Please wait while Generating Invoice PDFs!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS .spinsUpdate::after {
    position: absolute;
    content: 'Please wait while Updating Shipment Orders!';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.THIS .textPadding{
    padding-top: .5rem;
    text-align: right;
}
.THIS .icn svg{
    fill: aliceblue;
}
.THIS .autoMargin{
    margin-top: auto;
}
.THIS .thGeneralWidth{
    width:900px;
}
.THIS .taxChargeWidth{
    width:400px;
}
.THIS .VAService{
    color:aliceblue;
    background-color:#ffc000;
}
.THIS .otherWidth{
    width:200px;
}
.THIS .other{
    background-color:#70ad47;
    color:aliceblue;
}
.THIS .taxWidth{
    width:300px;
}
.THIS .tax{
	color:aliceblue;
    background-color:#5b9bd5;
}
.THIS .taxCharge{
    color:aliceblue;
    background-color:#4472c4;
}
.THIS .onCharge{
    color:aliceblue;
    background-color:#ed7d31;
}
.THIS .maxHeight{
    max-height:28rem
}
.THIS .floatIcon {
    float:right;
}
.THIS .vertical { 
    border-left: 6px solid black; 
} 
.THIS table {
    table-layout: fixed; 
    width: 100%;
    *margin-left: -100px;/*ie7*/
}
.THIS .wrappingText{
    white-space: initial;
}
.THIS .thHead {
    width:100px;
    position: -webkit-sticky;
    position: sticky !important;
    height:50px;
    top: 0;
    z-index: 2;
    
}
.THIS .thHead1 {
    width:100px;
    position: -webkit-sticky;
    position: sticky !important;
    top: 50px;
    z-index: 2;
    
}

/*.THIS th[scope=row] {
position: -webkit-sticky;
position: sticky;
left: 0;
z-index: 1;
}*/
/*.THIS  td{
vertical-align: top;
border-top: 1px solid #ccc;
width:100px;

} 
.THIS th {
vertical-align: top;
border-top: 1px solid #ccc;
width:100px;

}*/


/*
.THIS .hard_left {
position:absolute;
*position: relative; /*ie7*/
/*left:0; 
width:80px;
white-space: unset;
}
.THIS .hard_leftTh {
position:absolute;
*position: relative; /*ie7*/
/* left:0; 
width:720px;
white-space: unset;
}
.THIS .next_left {
position:absolute;
*position: relative; /*ie7*/
/* left:80px; 
width:80px;
white-space: unset;
}
.THIS .next_left2 {
position:absolute;
*position: relative; /*ie7*/
/*  left:160px; 
width:80px;
white-space: unset;
}
.THIS .next_left3 {
position:absolute;
*position: relative; /*ie7*/
/* left:240px; 
width:80px;
white-space: unset;
}
.THIS .next_left4 {
position:absolute;
*position: relative; /*ie7*/
/* left:320px; 
width:80px;
}
.THIS .next_left5 {
position:absolute;
*position: relative; /*ie7*/
/*  left:400px; 
width:80px;
white-space: unset;
}
.THIS .next_left6 {
position:absolute;
*position: relative; /*ie7*/
/*  left:480px; 
width:80px;
white-space: unset;
}
.THIS .next_left7 {
position:absolute;
*position: relative; /*ie7*/
/*left:560px; 
width:80px;
white-space: unset;
}
.THIS .next_left8 {
position:absolute;
*position: relative; /*ie7*//*
left:640px; 
width:80px;
white-space: unset;
}
.THIS .next_left9 {
position:absolute;
*position: relative; /*ie7*/
/* left:1220px; 
width:80px;
white-space: unset;
}
.THIS .wrappingText{
white-space: initial;
}
.THIS .next_left10{
position:absolute;
*position: relative; /*ie7*/
/*left:1300px; 
width:80px;
white-space: unset;
}
.THIS .outer {position:relative}
.THIS .inner {
overflow-x:scroll;
overflow-y:visible;
width:500px; 
margin-left:720px;
}*/