.THIS.backgroundImage {
    height: 100vh;
    background: white url(/resource/1574842853000/QOHomeBackGround) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.THIS.relPos {
    position: relative;
    display: flex;
}