.THIS.bgColor{
  background: #fafaf9;
}
.THIS .stateHeight{
  height:7rem;
}
.THIS .vertical-center {
  padding-top: 2.5rem;
}
.THIS .categoryGrid{
  background-color: white;
}
.THIS .categoryCol{
  /* min-height: 6rem;*/
  max-height: 12rem;
  overflow:auto;
  border-left-width: 1px;
  border-left-color: #d6d6ce;
  border-left-style: solid;
  justify-content: center; /* align horizontal */
  align-items: center;
}
.THIS .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
  /* filter: blur(3px); */
  opacity: 0.4;
}

.THIS .action-container{
  position: absolute;
  right: 0;
}
.THIS .innerItem{
  margin-top: 1rem;
  overflow: auto;
  /**min-height: 4rem;**/
  max-height: 7rem;
  padding:5px;
}
.THIS .section-border{
  position: relative;
  border: 1px solid rgba(215, 218, 233, 1);
  border-radius: 5px;
  margin-bottom: 3px;
}

.THIS .arrow-red {
  height: 51px;
  border-radius: 2px;
  border-top: 2px solid #c23329;
  border-bottom: 2px solid #c23329;
  position: relative;
  line-height: 3rem;
}
.THIS .arrow-red::before, .THIS .arrow-red::after {
  content: "";
  border-top: 2px solid #c23329;
  border-right: 2px solid #c23329;
  height: 35px;
  width: 35px;
  position: absolute;
  transform: rotate(45deg);
}

.THIS .arrow-red::before {
  top: .37rem;
  left: -1rem;
}

.THIS .arrow-red::after {
  top: .37rem;
  right: -1.09rem;
}

.THIS .arrow-orange {
  height: 51px;
  border-radius: 2px;
  border-top: 2px solid #ee7f33;
  border-bottom: 2px solid #ee7f33;
  position: relative;
  line-height: 3rem;
}
.THIS .arrow-orange::before, .THIS .arrow-orange::after {
  content: "";
  border-top: 2px solid #ee7f33;
  border-right: 2px solid #ee7f33;
  height: 35px;
  width: 35px;
  position: absolute;
  transform: rotate(45deg);
}

.THIS .arrow-orange::before {
  top: .37rem;
  left: -1rem;
}

.THIS .arrow-orange::after {
  top: .37rem;
  right: -1.09rem;
}

.THIS .arrow-green {
  height: 51px;
  border-radius: 2px;
  border-top: 2px solid #6fae4b;
  border-bottom: 2px solid #6fae4b;
  position: relative;
  line-height: 3rem;
}
.THIS .arrow-green::before, .THIS .arrow-green::after {
  content: "";
  border-top: 2px solid #6fae4b;
  border-right: 2px solid #6fae4b;
  height: 35px;
  width: 35px;
  position: absolute;
  transform: rotate(45deg);
}

.THIS .arrow-green::before {
  top: .37rem;
  left: -1rem;
}

.THIS .arrow-green::after {
  top: .37rem;
  right: -1.09rem;
}
.THIS .slds-border_bottom{
        border-width: thick;
        border-color: #fafafb;

}
.THIS .slds-border_right{
 border-width: .2rem;   
        border-color: #fafafb;

}
.THIS .slds-border_left{
 border-width: .2rem;  
        border-color: #fafafb;

}
.THIS .borderRight{
   border-left-width: .5rem; 
}