.THIS .outer-div {
    position: relative;
}
.THIS .spinner {
    position: absolute;
}
.THIS .hideInputFile{
    display: none;
}
.THIS .changeHeading thead tr th{
    background-color: #3A46B0;
    color: white;
}
.THIS label,.THIS span{
    cursor: pointer;
}
.THIS .defaultCursor{
    cursor: default ;
}