.THIS .customBox{
    padding: 5px;
    border-radius:6px;
    border: 1px grey solid;
}
.THIS .dropzone {
    background: white;
    border-radius: 5px;
    border-image: none;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}
.THIS .dropStart {
    border: 2px dashed grey;
}
.THIS .disabledText{
    color: #B0B0B0;
}
.THIS .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 99;
}
.THIS .tableMaxHeight {
    max-height:62vh;
}
.THIS .flUpload .slds-form-element__label{
    display:none;
}