.THIS div.tableDiv {
    overflow: auto;
    position: relative;
}
.THIS table.tableCss {
    position: relative;
}

.THIS table.tableCss td,.THIS table.tableCss th {
    padding: 0.25rem;
}

.THIS table.tableCss thead th {
    position: sticky;
}
.THIS table.tableCss tbody td:nth-child(1),.THIS table.tableCss thead th:nth-child(1){
    left:0rem;
    z-index: 99;
}
.THIS .changeHeadingSOSP thead tr th{
    background-color: rgb(216 214 214);
    color: black;
}