.THIS .refreshBtn{
    position: absolute;
    right: 2rem;
    vertical-align: middle;
    line-height: 1.7rem;
    cursor:pointer;
}
.THIS .slds-card__header{
  display: none;
}
.THIS .outText{
  width: max-content;
  line-height: 2rem;
  font-size: 18px;
}
.THIS .linkText{
  width: max-content;
  line-height: 2rem;
  font-size: 14px;
  margin-left: 2rem;
}
.THIS .flagDiv-red{
  height:32px;
  background:red;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flagDiv-red:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid red;
}

.THIS .flagDiv-red:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid red;
  border-left: 16px solid transparent;
  background-color: white;
}
.THIS .flagDiv-orange{
  height:32px;
  background:#ea7133;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flagDiv-orange:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid #ea7133;
}

.THIS .flagDiv-orange:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid #ea7133;
  border-left: 16px solid transparent;
  background-color: white;
}
.THIS .flagDiv-yellow{
  height:32px;
  background:#fdf731;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flagDiv-yellow:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid #fdf731;
}

.THIS .flagDiv-yellow:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid #fdf731;
  border-left: 16px solid transparent;
  background-color: white;
}
.THIS .flagDiv-green{
  height:32px;
  background:#92d050;
  position:relative;
  text-align:center;
  line-height:32px;
}
.THIS .flagDiv-green:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -2rem;
  top: 0;
  z-index: 9;
  border: 16px solid transparent;
  border-left: 16px solid #92d050;
}

.THIS .flagDiv-green:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  border: 16px solid #92d050;
  border-left: 16px solid transparent;
  background-color: white;
}