.THIS .tableHeaderbgColor{
    background:#f4b183;
}
.THIS .positionMenu{
    z-index: 99999;
    position: absolute;
}

.THIS .tableFixHead thead th {
    position: sticky;
    top: 1.375rem;
    z-index: 99;
}
.THIS .tableMaxHeight {
    max-height:62vh;
}
.THIS .centerText{
    text-align: center;
}
.THIS .tableFixHead thead tr:first-child th {
    top: 0;
}
.THIS .colPadding{
    padding-right: 15px;
}
.THIS .textColor {
    color: white;
}