.THIS .thHead{
    background-color: #f3f2f2;
    position: -webkit-sticky;
    position: sticky !important;
    height:50px;
    top: -17px;
    z-index: 2;
}
.THIS .label-hidden > label {
    display: none;
}
.THIS .slds-card__header{
    background-color:#f3f2f2;
}
.THIS .title1{
    font-size:10px !important;
}
.THIS .title2{
    font-size: 18px !important;
    font-weight: bolder !important;
}
.THIS .maxHeight{
    max-height:18rem
}
.THIS table {
    table-layout: fixed; 
    width: 100%;
    *margin-left: -100px;/*ie7*/
}
.THIS .wrappingText{
    white-space: initial;
}
.THIS .inputNumber input { 
    text-align: right;
}
.THIS .numberFloat input { 
    float: right;
}
.THIS .cardFont{
    font-size: var(--lwc-fontSize3,0.8125rem);
}