.THIS div.tableDiv {
    overflow: scroll;
    position: relative;
}

.THIS table.tableCss {
    position: relative;
}

.THIS table.tableCss td,.THIS table.tableCss th {
    padding: 0.25rem;
}

.THIS table.tableCss thead th {
    position: sticky;
}

.THIS table.tableCss tbody td {
    position: sticky;
    background: #FFF;
}

.THIS table.tableCss tbody td:nth-child(1),.THIS table.tableCss thead th:nth-child(1){
    left:0rem;
    z-index: 99;
}

.THIS table.tableCss tbody tr td:nth-child(2),.THIS table.tableCss thead tr.secondRow th:nth-child(2){
    left:1.5rem;
    z-index: 99;
}
.THIS table.tableCss tbody tr  td:nth-child(3),.THIS table.tableCss thead tr.secondRow th:nth-child(3){
    left:8.62rem;
    z-index: 99;
}
.THIS table.tableCss tbody tr  td:nth-child(4),.THIS table.tableCss thead tr.secondRow th:nth-child(4){
    left:16.05rem;
    z-index: 99;
}
.THIS table.tableCss tbody tr td:nth-child(5),.THIS table.tableCss thead tr.secondRow th:nth-child(5){
    left:21.6rem;
    z-index: 99;
}
.THIS .dropzone {
    background: white;
    border-radius: 5px;
    border-image: none;
    border: 2px dashed grey;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
.THIS .changeHeadingSOSP thead tr th{
    background-color: rgb(216 214 214);
    color: black;
    
}
.THIS .color th{
    background-color: rgb(216 214 214);
    color: black;
}
.THIS .color1 th{
    background-color: rgb(240 240 240);
    color: black;
}