.THIS .loginBackground{
    background-color: transparent !important;
}
.THIS .abcClass{
    margin-top:0rem ;
}
@media screen and (max-width: 480px) {
   .THIS .abcClass{
    margin-top:9rem !important;
}
    .THIS .marginTop{
    margin-top:9rem !important;
}
    .THIS .marginTopIframe{
    display:none;
}
  
}

.THIS .slds-input {
    border-top-width: 0px !important ;
     border-right-width: 0px !important ;
    border-left-width:  0px !important ;
    background-color: transparent !important;
}
.THIS .marginTop{
    margin-top:15rem;
}
.THIS .marginTopIframe{
    margin-top:9rem;
}
.THIS.login-heading {
    display: block;
    float: left;
    margin-bottom: 10 px;
    line-height: 0;
}
.THIS.main-wrapper {
    padding: 0 px;
    padding-top: 10 px;
    background-color: transparent !important;
}
.THIS#error1 {
    color: #005fb2;
    text-align: center;
    max-width: 247px;
}
.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}

.THIS #error {
    color: red;
    text-align: center;
    color: #ff0000;
    max-width: 247 px;
}



.THIS.salesforceIdentityLoginBody2
.cCenterPanel {
    min-width: 420 px;
    max-width: 420 px;
}

.THIS.cCenterPanel {
    text-align: left;
    min-width: 400 px!important;
    max-width: 500 px!important;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    position: relative;
    font-family: Work Sans;
    font-size: 14 px;
    color:#222222;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
}