.THIS.tableHeight1{
    max-height: 21rem !important;
    overflow: auto;
    clear: both;
    border: 1px solid #d9dbdd;
}
.THIS .label-hidden > label {
    display: none;
}
.THIS .textPadding{
    padding-top: .5rem;
    text-align: right;
}
.THIS.tableHeight1 thead th { 
    position: sticky; 
    top: 0rem;
    z-index: 99;
    border-bottom: 1px solid #d9dbdd;
}
.THIS.disableSelection{
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}