.THIS .slds-split-view__toggle-button{
    position : inherit;
        height: 20rem;
}
.THIS .label {
    display: table-cell;
    
}
.THIS .spilt {
    display: inline-block;
    white-space: nowrap;
    
}

.THIS .hh{
    display:inline-block;
}