.THIS .btn-preview{
    position: absolute;
    top: 30%;
}
.THIS .btn-generate{
    position: absolute;
    top: 45%;
}
.THIS td{
    height: 1.5rem;
}
.THIS .imgCls{
    width: 140px;
    position: absolute;
    left: 2rem;
    top: 2rem;
}