.THIS .H1 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
 }

.THIS .H2 {
  color: #000080;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
 }

.THIS .Acontainer {
    	border-top: 2px dashed #FF4500;
        width: 50%;
        margin: auto;
        margin-top: 20px;
    	margin-bottom: 10px;
        
   /* margin: 10px 0px 0px 0px; 
    border-top: solid 1px #FF4500;
    /*border-right: solid 0px #FF4500;
    border-left: solid 0px #FF4500;
    border-bottom: solid 0px #FF4500; 
    box-shadow:inset 0 0 0px 1px #FF4500;*/
}
.THIS .page-section1 {
    border: solid 1px #FF4500;
    padding: 1rem;
}