.THIS .form-padd{
  padding: 0 0.5rem;
}
.THIS .slds-accordion__summary {
  padding: 0.5rem;
  margin: 0 !important;
  display: flex;
  background-color: #fafaf9;
}
.THIS .slds-accordion__section {
  padding: .75rem 0;
}
.THIS .slds-accordion__list-item{
  border-top: none;
}
.THIS .state_txt{
  position: absolute;
  right: 5px;
  top: 0;
}
.THIS .slds-card__header{
  display:none;
}
.THIS .chkCls .slds-checkbox_faux{
  background-color:white !important;
}
.THIS .stateCLs .slds-form-element__label{
  display:none !important;
}