.THIS div.tableDiv {
    overflow-x:auto;
    position: relative;
}
.THIS table.tableCss {
    position: relative;
}

.THIS table.tableCss td,.THIS table.tableCss th {
    padding: 0.25rem;
}

/*.THIS table.tableCss thead th {
    position: sticky;
}
.THIS table.tableCss tbody td:nth-child(1),.THIS table.tableCss thead th:nth-child(1){
    left:0rem;
    z-index: 99;
}*/
.THIS .borderColor {
    border: 1px solid darkslateblue;
}
.THIS .changeHeadingSOSP thead tr th{
    background-color: rgb(216 214 214);
    color: black;
}
.THIS .float tr td{
    float:right;
}
.THIS .slds-form-element__control{
        text-align-last: center;
}
.THIS .slds-form-element__label{
        text-align-last: left;

}
.THIS .top{
    outline: 3px solid darkgrey;
       /*outline: inset;
    outline-width : 3px;
        outline-color: #9c9090;*/

    


}