.THIS .disabledText{
    color: #B0B0B0;
}
.THIS .dropzone {
    background: white;
    border-radius: 5px;
    border-image: none;
    border: 2px dashed grey;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.THIS table tbody tr{
    border-bottom: 1px solid gainsboro;
}
.THIS .color th{
    background-color: rgb(216 214 214);
    color: black;
}
.THIS .changeHeadingSOSP thead tr th{
    background-color: #3a46b0;
    color: white;
}