.THIS .tableLabelText{
    font-size: initial;
}
.THIS .maxHeight{
    max-height:18rem
}
.THIS table {
    table-layout: fixed; 
    width: 100%;
    *margin-left: -100px;/*ie7*/
}
.THIS .wrappingText{
    white-space: initial;
}
.THIS .thHead{
    background-color: #f3f2f2;
    position: -webkit-sticky;
    position: sticky !important;
    height:50px;
    top: -17px;
    z-index: 2;
}