.THIS .small-txt{
  font-size: 0.7rem;
  color: #1570d2;
  cursor: pointer;
}
.THIS .is-active{
  background-color: #e5f0fa;
}
.THIS .slds-nav-vertical__action{
  padding: 0.2rem 3rem;
  cursor: default;
}
.THIS .slds-nav-vertical__action:hover {
  text-decoration: none;
  box-shadow: none;
  background-color: white;
}