<apex:page standardcontroller="Shipment_Order__c"  extensions="attachCostEstimatehelperTOtrigger" renderAs="pdf"  applyHtmlTag="False" applyBodyTag="False" showHeader="False">

 <html>

<head>

    <style type="text/css">
        body,div,table,thead,tbody,tfoot,tr,th,td,p {font-family: Verdana, Geneva, sans-serif; font-size:10px; font-color:black;}
        a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black;  } 
        a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
        comment { display:none;  } 
        @page {
    margin-top: 0.25cm;
    margin-bottom: 0.25cm;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
}
    </style>
    
</head>

<body>
<table cellspacing="0" border="0">
    <colgroup span="4" width="284"></colgroup>
    <tr>
        <td height="80" align="left" valign="top"><font color="#000000"><br/> <img src="https://tecex--c.eu17.content.force.com/servlet/servlet.ImageServer?id=0151v000002o0Zg&oid=00D0Y000001KRPf" />
        </font></td>
        <td colspan="2" align="left" valign="left"><font color="#000000">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Tecex a division of VATit S.a.r.l<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;14-16 Rue Phillippe II <br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; L-2340, Luxembourg<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Le montant du capital social: Euro 12 500<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Sa Forme juridique: Societe a respnsabilite limitee<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; VAT Number: LU 22944907<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Reg No. RCS Luxembourg RCS B136 565
        </font></td>
        <td align="right" valign="middle" style="font-size: 18pt; color: black;"><b><font >
        Cost Estimate</font></b></td>
    </tr>
    <tr >
        <td colspan="4" height="3" align="right" valign="top"><font color="#000000"><br/></font></td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 0px solid #000000; border-left: 1px solid #000000"  height="100" align="left" valign="top"><b><font color="#000000">
        Account :<br/><br/>
        Contact Name: <br/><br/>
        Contact Email: <br/><br/>
        </font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 0px solid #000000; border-right: 1px solid #000000" align="left" valign="top"><b><font color="#000000"> 
        <apex:outputText value="{!Shipment_Order__c.Account__r.Name}"/><br/><br/>
        <apex:outputText value="{!Shipment_Order__c.Client_Contact_for_this_Shipment__r.Name}"/><br/><br/>
        <apex:outputText value="{!Shipment_Order__c.Client_Contact_for_this_Shipment__r.Email}"/> <br/><br/>
        </font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 0px solid #000000;" align="left" valign="top"><b><font color="#000000"> 
        &nbsp;&nbsp;&nbsp;Cost Estimate #:<br/><br/>
        &nbsp;&nbsp;&nbsp;Shipment order #:<br/><br/>
        &nbsp;&nbsp;&nbsp;Expiration Date: <br/><br/>
        </font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 0px solid #000000; border-right: 1px solid #000000;" align="left" valign="top"><b><font color="#000000"> 
        
        <apex:outputText value="{!Shipment_Order__c.Cost_Estimate_Number__c}"/><br/><br/>
        <apex:outputText value="{!Shipment_Order__c.Name}"/><br/><br/>
        <apex:outputText styleClass="normalText" value="{0,date,dd'/'MM'/'yyyy}">
                <apex:param value="{!Shipment_Order__c.Expiry_Date__c}" /> 
            </apex:outputText>
         <br/><br/>
          </font></b></td>
        </tr>
    <tr>
        <td style="border-top: 1px solid #000000" colspan="4" height="3" align="right" valign="top"><font color="#000000"><br/></font></td>
        </tr>
    <tr>
        <td style="border-top: 0px solid #000000; border-left: 0px solid #000000; color:white;" height="10" align="left" valign="middle" bgcolor="#808080" ><b><font color="#FFFFFF">Ship From</font></b></td>
        <td style="border-top: 0px solid #000000; border-left: 0px solid #000000; color:white;" height="10" align="center" valign="middle" bgcolor="#808080" ><b><font color="#FFFFFF">Ship To</font></b></td>
        <td style="border-top: 0px solid #000000; border-left: 1px solid #808080; border-right: 1px solid #808080; color:white;" align="center" valign="middle" bgcolor="#808080"><b><font color="#FFFFFF">Shipping responsibility of:</font></b></td>
        <td style="border-top: 0px solid #000000; border-left: 1px solid #808080; border-right: 0px solid #000000; color:white;" align="right" valign="middle" bgcolor="#808080"><b><font color="#FFFFFF">Estimated value of shipment:</font></b></td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000000; border-left: 0.5px solid #000000" height="20" align="left" valign="middle"><font color="#000000">{!Shipment_Order__c.Ship_From_Country__c}</font></td>
        <td style="border-bottom: 1px solid #000000; border-left: 0px solid #000000" height="20" align="center" valign="middle"><font color="#000000">{!Shipment_Order__c.IOR_Price_List__r.Name}</font></td>
        <td style="border-bottom: 1px solid #000000" align="center" valign="middle"><font color="#000000">{!Shipment_Order__c.Who_arranges_International_courier__c}</font></td>
        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="middle"><font color="#000000">
         <apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
         <apex:param value="{!Shipment_Order__c.Shipment_Value_USD__c}"/>
         </apex:outputText>    
        </font></td>
    </tr>
    
    <tr>
      <td style="border-top: 0px solid #000000" colspan="4" height="10" align="right" valign="top"><font color="#000000"><br/></font></td>
    </tr>
    
    
    <tr>
        <td style="border-top: 0px solid #000000; border-left: 0px solid #000000; color:white;" height="10" align="left" valign="middle" bgcolor="#808080" colspan="4"><b><font color="#FFFFFF">Shipping Notes:</font></b></td>
        
    </tr>
    <tr>
        <td style="border-bottom: 0px solid #000000; border-left: 0.5px solid #000000; border-right: 1px solid #000000;" height="20" align="left" valign="middle" colspan="4"><font color="#000000">{!Shipment_Order__c.Shipping_Notes_New__c}</font></td>
        
    </tr>
    <tr>
      <td style="border-top: 1px solid #000000" colspan="4" height="10" align="right" valign="top"><font color="#000000"><br/></font></td>
    </tr>
    
    
    <tr>
        <td colspan="4" height="10" align="center" valign="bottom" style="font-size: 10pt; color: red;" ><b> NOTE: Actual costs may vary based on customs valuation, forex and brokerage differences on the actual shipment.</b></td>
        </tr>
        
        
        <tr>
      <td style="border-top: 0px solid #000000" colspan="4" height="10" align="right" valign="top"><font color="#000000"><br/></font></td>
    </tr>
    
    
    <tr>
        <td style="border-top: 0px solid #000000; border-left: 0px solid #000000; color: white;" height="15" align="left" valign="middle" bgcolor="#808080"><b><font color="#FFFFFF">Cost breakdown</font></b></td>
        <td style="border-top: 0px solid #000000; border-left: 1px solid #808080; border-right: 1px solid #808080; color: white;" colspan="2" align="center" valign="middle" bgcolor="#808080"><b><font color="#FFFFFF"><br/></font></b></td>
        <td style="border-top: 0px solid #000000; border-left: 1px solid #808080; border-right: 0px solid #000000; color: white;" align="right" valign="middle" bgcolor="#808080"><b><font color="#FFFFFF">Amount USD</font></b></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.IOR_EOR_Compliance_Summary__c) || Shipment_Order__c.IOR_EOR_Compliance_Summary__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle" colspan="2"><b><u>TecEx IOR/EOR and Compliance Fees:</u></b></td>
        <td  align="center" valign="middle"><b><font color="#FFFFFF"><br/></font></b></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle"><b><br/></b></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.IOR_FEE_USD__c) || Shipment_Order__c.IOR_FEE_USD__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">IOR and Import Compliance Fee</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle"> 
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
        <apex:param value="{!Shipment_Order__c.IOR_FEE_USD__c}"/>
        </apex:outputText>       
        </td>
    </tr>
    
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.EOR_and_Export_Compliance_Fee_USD__c) || Shipment_Order__c.EOR_and_Export_Compliance_Fee_USD__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">EOR and Export Compliance Fee</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle"> 
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
        <apex:param value="{!Shipment_Order__c.EOR_and_Export_Compliance_Fee_USD__c}"/>
        </apex:outputText>       
        </td>
    </tr>
    
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Handling_and_Admin_Fee__c) || Shipment_Order__c.Handling_and_Admin_Fee__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Admin Fee</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" >
                <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Handling_and_Admin_Fee__c}"/>
                </apex:outputText>
        
        </td>
    </tr>
    
   
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.IOR_EOR_Compliance_Summary__c) || Shipment_Order__c.IOR_EOR_Compliance_Summary__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="right" valign="middle"><b><font color="#000000">Subtotal:</font></b></td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="middle"><b> 
         <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
         <apex:param value="{!Shipment_Order__c.IOR_EOR_Compliance_Summary__c}"/>
         </apex:outputText>

        </b></td>
  </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Freight_and_Related_Costs_Summary__c) || Shipment_Order__c.Freight_and_Related_Costs_Summary__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><b><u>Freight related costs:</u></b></td>
        <td colspan="2" align="center" valign="middle"><b><font color="#FFFFFF"><br/></font></b></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle"><b><br/></b></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.International_Delivery_Fee__c) || Shipment_Order__c.International_Delivery_Fee__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">International Freight Fee<sup>1</sup></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" >
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
        <apex:param value="{!Shipment_Order__c.International_Delivery_Fee__c}"/>
        </apex:outputText>
        
         </td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Insurance_Fee_USD__c) || Shipment_Order__c.Insurance_Fee_USD__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Liability Cover Fee<sup>2</sup></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" >
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
        <apex:param value="{!Shipment_Order__c.Insurance_Fee_USD__c}"/>
        </apex:outputText>
        
         </td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Freight_and_Related_Costs_Summary__c) || Shipment_Order__c.Freight_and_Related_Costs_Summary__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="right" valign="middle"><b><font color="#000000">Subtotal:</font></b></td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="middle" ><b>
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
        <apex:param value="{!Shipment_Order__c.Freight_and_Related_Costs_Summary__c}"/>
        </apex:outputText>
        </b></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Government_and_In_country_Summary_No_Tax__c) || Shipment_Order__c.Government_and_In_country_Summary_No_Tax__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><b><u>Government and in-country costs:</u></b></td>
        <td align="left" valign="middle"><b><font color="#FFFFFF"><br/></font></b></td>
        <td align="left" valign="middle"><b><font color="#FFFFFF"><br/></font></b></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" ><b><br/></b></td>
    </tr>
   
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Recharge_Tax_and_Duty_Other__c) || Shipment_Order__c.Recharge_Tax_and_Duty_Other__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Recharge-Tax and Duty Other</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" > 
         <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Recharge_Tax_and_Duty_Other__c}"/>
                </apex:outputText>
        </td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Total_Customs_Brokerage_Cost__c) || Shipment_Order__c.Total_Customs_Brokerage_Cost__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Customs Brokerage Cost</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle">
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Total_Customs_Brokerage_Cost__c}"/>
                </apex:outputText>
        </td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Total_clearance_Costs__c ) || Shipment_Order__c.Total_clearance_Costs__c  == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Clearance Costs</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" ><font color="#000000"> 
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Total_clearance_Costs__c }"/>
                </apex:outputText>
         </font></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Recharge_License_Cost__c ) || Shipment_Order__c.Recharge_License_Cost__c  == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">License Costs</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" ><font color="#000000"> 
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Recharge_License_Cost__c }"/>
                </apex:outputText>
        </font></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Recharge_Handling_Costs__c) || Shipment_Order__c.Recharge_Handling_Costs__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Handling Costs</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" ><font color="#000000">
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Recharge_Handling_Costs__c}"/>
                </apex:outputText>
         </font></td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Bank_Fees__c) || Shipment_Order__c.Bank_Fees__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Bank Fee</font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" ><font color="#000000">
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Bank_Fees__c}"/>
                </apex:outputText>
         </font></td>
    </tr>
    
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Miscellaneous_Fee__c ) || Shipment_Order__c.Miscellaneous_Fee__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">
        <apex:outputText value="{!IF(ISNULL(Shipment_Order__c.Miscellaneous_Fee_Name__c ), 'Miscellaneous Fee', Shipment_Order__c.Miscellaneous_Fee_Name__c)}"/>
        </font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" > 
         <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Miscellaneous_Fee__c}"/>
                </apex:outputText>
        </td>
    </tr>
    <tr style="display: {!IF(ISNULL(Shipment_Order__c.Government_and_In_country_Summary_No_Tax__c) || Shipment_Order__c.Government_and_In_country_Summary_No_Tax__c == 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="right" valign="middle"><b><font color="#000000">Subtotal:</font></b></td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="middle" ><b><font color="#000000"> 
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Government_and_In_country_Summary_No_Tax__c}"/>
                </apex:outputText>
        </font></b></td>
    </tr>
   
    <tr>
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="center" valign="middle"><b><font color="#000000"><br/></font></b></td>
        <td style="border-right: 1px solid #000000" align="center" valign="middle" ><b><font color="#000000"><br/></font></b></td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000"><br/></font></td>
        
        <td align="right" valign="middle" colspan="2"><b><font color="#000000" >TOTAL Excluding Duties and Taxes:</font></b></td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="middle" ><b><font color="#000000"> 
         <apex:outputText value="{0, number, ###,###,###,###,##0.00}"> 
                <apex:param value="{!Shipment_Order__c.Total_Invoice_Amount_Excl_Taxes_Duties__c}"/> 
            </apex:outputText>
        </font></b></td>
    </tr>
  
  <tr>
   <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" height="10" align="right" valign="top"><font color="#000000"><br/></font></td>
        </tr>
  
   <tr style="display: {!IF(ISNULL(Shipment_Order__c.Tax_Cost__c) || Shipment_Order__c.Tax_Cost__c== 0, 'none', 'table-row')};">
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Estimated Tax and Duty <sup>3</sup></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" > 
         <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Tax_Cost__c}"/>
                </apex:outputText>
        </td>
    </tr>
    
   <tr >
        <td style="border-left: 1px solid #000000" height="21" align="left" valign="middle"><font color="#000000"><br/></font></td>
        
        <td align="right" valign="middle" colspan="2" ><b><font color="#000000">Total Estimated Costs:</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000; border-right: 1px solid #000000" align="right" valign="middle" ><b><font color="#000000">
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!Shipment_Order__c.Total_Invoice_Amount_Excl_Taxes_Duties__c + Shipment_Order__c.Tax_Cost__c}"/>
                </apex:outputText>
         </font></b></td>
    </tr>
  
  <tr>
      <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" height="10" align="right" valign="top"><font color="#000000"><br/></font></td>
    </tr>
  
    
    <tr>
   <td style="border-top: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000; color: white;" colspan="4" height="10" align="left" valign="middle" bgcolor="#808080"><b><font SIZE="2">If remitted more than 7 Days after Invoice Date</font></b></td>
        </tr>
    
    <tr>
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><b><u>Cash Outlay Fees:</u></b></td>
        <td colspan="2" align="center" valign="middle"><b><font color="#FFFFFF"><br/></font></b></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle"><b><br/></b></td>
    </tr>
    
    <tr>
        <td style="border-left: 1px solid #000000" height="20" align="left" valign="middle"><font color="#000000">Cash Outlay Fee<sup>4</sup></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td align="left" valign="middle"><font color="#000000"><br/></font></td>
        <td style="border-right: 1px solid #000000" align="right" valign="middle" ><font color="#000000"> 
         <apex:outputText value="{0, number, ###,###,###,###,##0.00}"> 
          <apex:param value="{!IF(Shipment_Order__c.Account__r.Cash_outlay_fee_base__c == 'Total Invoice Value', Shipment_Order__c.Total_Invoice_Amount__c * (Shipment_Order__c.Account__r.Finance_Charge__c/100), 
If(Shipment_Order__c.Account__r.Cash_outlay_fee_base__c == 'Recharge - Duties and Taxes', Shipment_Order__c.All_Taxes_and_Duties_Summary__c * (Shipment_Order__c.Account__r.Finance_Charge__c/100),
If(Shipment_Order__c.Account__r.Cash_outlay_fee_base__c == 'Government and In-Country Cost', Shipment_Order__c.Government_and_In_country_Summary__c * (Shipment_Order__c.Account__r.Finance_Charge__c/100),
0
)))}"/> 
         </apex:outputText></font></td>
    </tr>
    
    
    <tr >
        <td style="border-left: 1px solid #000000" height="21" align="left" valign="middle"><font color="#000000"><br/></font></td>
        
        <td align="right" valign="middle" colspan="2" ><b><font color="#000000">TOTAL (if remitted after Invoice Date:</font></b></td>
        <td style="border-top: 1px solid #000000; border-bottom: 2px double #000000; border-right: 1px solid #000000" align="right" valign="middle" ><b><font color="#000000">
        <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                    <apex:param value="{!(Shipment_Order__c.Total_Invoice_Amount_Excl_Taxes_Duties__c + Shipment_Order__c.Tax_Cost__c) + IF(Shipment_Order__c.Account__r.Cash_outlay_fee_base__c == 'Total Invoice Value', Shipment_Order__c.Total_Invoice_Amount__c * (Shipment_Order__c.Account__r.Finance_Charge__c/100), 
If(Shipment_Order__c.Account__r.Cash_outlay_fee_base__c == 'Recharge - Duties and Taxes', Shipment_Order__c.All_Taxes_and_Duties_Summary__c * (Shipment_Order__c.Account__r.Finance_Charge__c/100),
If(Shipment_Order__c.Account__r.Cash_outlay_fee_base__c == 'Government and In-Country Cost', Shipment_Order__c.Government_and_In_country_Summary__c * (Shipment_Order__c.Account__r.Finance_Charge__c/100),
0
)))}"/>
                </apex:outputText>
         </font></b></td>
    </tr>
    
     <tr>
      <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" height="10" align="right" valign="top"><font color="#000000"><br/></font></td>
    </tr>
    
    <tr>
        <td style="border-left: 1px solid #000000;border-right: 1px solid #000000" height="5" align="left" valign="middle"  colspan="4"><b><u><font color="#000000">Notes:</font></u></b></td>
    </tr>

    <tr>
        <td style="border-left: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;" colspan="4" height="49" align="left" valign="middle"><font >
        (1) International delivery fee is estimated based on weights and dimensions provided at time of cost estimate. If final weights and dimensions differ, freight estimate will adjust accordingly. 
        The current fee is an estimate based on the chargeable weight of {!Shipment_Order__c.Chargeable_Weight__c}kg that you have provided.<br/><br/>
        (2)TecEx must be notified prior to the prepayment date ({!Shipment_Order__c.Account__r.Prepayment_Term_Days__c} days from invoice issue) should liability cover not be required as this has been included above.<br/>
<b>NOTE:</b> Client&apos;s insurance with their current freight forwarder will not cover the goods for the local delivery.
<br/><br/>

        (3) Taxes Duties provided below are only an estimate and may be subject to change. Duties included in this estimate are based only on HS codes for typical Network Equipment. 
        Please note that 95% of imports of Network equipment are Duty Free.<br/><br/>   
        (4) A cash outlay fee of {!Shipment_Order__c.Account__r.Finance_Charge__c}% of the total invoice amount will be charged where the invoice amount is not settled before the prepayment date.<br/>            

        
        </font></td>
        </tr>
   
</table>
</body>

</html>

</apex:page>