<apex:page standardController="Shipment_Order__c" tabStyle="Shipment_Order__c" extensions="AttachmentUploadController" >

 
  <apex:sectionHeader title="{!Shipment_Order__c.Name}" subtitle="Attach File"/>

  
 <apex:form id="form_Upload">
 

 <apex:pageBlock >
 <apex:pageBlockButtons >
   <apex:commandButton action="{!Cancel}" value="Cancel"/>
   <apex:commandButton action="{!Ephesoft}" value="Validate"/>
   
  
 </apex:pageBlockButtons>
<!-- <apex:pageMessages /> -->

 
  <apex:pageBlockSection columns="1">
    <apex:pageBlockSectionItem >
 
      <apex:outputLabel value="File" for="file_File"/>
     <apex:inputFile id="file_File" value="{!file_Body}" filename="{!file_Name}"/>
   
      </apex:pageBlockSectionItem>
      
     <apex:pageBlockSectionItem >
       <apex:outputLabel value="" for="uploadBtn"/> 
       <apex:commandButton id="uploadBtn" value="Attach File" action="{!processUpload}" />
     </apex:pageBlockSectionItem> 
  </apex:pageBlockSection> 
 </apex:pageBlock>
  

 </apex:form>

</apex:page>