<apex:page standardcontroller="Invoice_New__c" renderAs="pdf" extensions="CTRL_tecexClientInvoice" applyBodyTag="false" applyHtmlTag="false" sidebar="false" showHeader="false" >
    <html>
        <head>
            <title></title>
            <style>
                * {font-family: sans-serif; font-size:13px; margin:0; padding:0;}
                table.tableStyle {border-collapse: collapse;}
                .tableStyle > tr > td, .tableStyle > tr > th {border: 1px solid #000; border-collapse: collapse; font-weight: normal;  font-family: timesnewroman; }
                
                @page {
                margin-top:110px;
                margin-bottom: 90px;
                margin-left: 0;
                margin-right: 0;
                background:url({!URLFOR($Resource.TECstaticResource, 'Assets/BackgroundImage/Nautical-Background.png')})repeat-x;
                background-position:left bottom ;
                
                @top-center {
                content: element(header);
                }
                @bottom-center {
                content: element(footer);
                }
                }
                div.header {
                padding-bottom: 50px;
                position: running(header);
                }
                div.footer {
                display: block;
                padding:0;
                position: running(footer);
                color:#6f7983;
                /*background: url({!URLFOR($Resource.TECstaticResource, 'Assets/Footer/footer-Img.png')})no-repeat;
                background-size:100% 90px;;
                background-position:10px 18px;*/
                margin-left:-10px;
                margin-right:-10px;
                }
                .pagenumber:before {
                content: counter(page);
                font-size:12px;
                }
                .pagecount:before {
                content: counter(pages);
                font-size:12px;
                }
                .content {
                margin-top:0;
                margin-left:120px;
                margin-right:50px;
                background:#fcfcfc url({!URLFOR($Resource.TECstaticResource, 'Assets/Icons/WhiteBg.png')})no-repeat;
                background-size:1000px 500px;
                background-position:-80px -44px;
                padding:15px 30px 0;
                border-right:1px solid #ddd;
                border-bottom:1px solid #ddd;
                }
                .content2 {
                	margin-top:0;
                margin-left:120px;
                margin-right:50px;
                background:#fcfcfc url({!URLFOR($Resource.TECstaticResource, 'Assets/Icons/WhiteBg.png')})no-repeat;
                background-size:1000px 500px;
                background-position:-80px -44px;
                padding:15px 30px 0;
                border-right:1px solid #ddd;
                border-bottom:1px solid #ddd;
                background-color:linear-gradient(to right, red, purple);
                }
                

            </style>
        </head>
        <body class="">
            <div class="header" style="color:#fff; ">
                <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Header/HeaderImg.png')}" style="width:100%; " />
                <div style="margin-top:-70px;margin-left:180px;"> 
                    <strong style="font-weight:800; font-size:20px; color:#fff; padding-bottom:25px;">INVOICE&nbsp;{!Invoice_New__c.Name}&nbsp;to&nbsp;{!shipmentOrder.Destination__c}</strong>
                </div>
            </div>
            <div class="footer" >
                <div style="text-align:right; padding:0px 35px 0; margin-bottom:5px; font-size:12px;" >
                    Page <span class="pagenumber"/> of <span class="pagecount"/>
                </div>
                <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Footer/footer-Img.png')}" style="height:90px;width:100%;" />
                <div style="margin-top:-75px;position:relative;">
                    <table width="90%" cellpadding="10" cellspacing="0" border="0" class="footerTable" style="margin:0 auto;">
                        <tr>
                            <td >
                                <span style=" font-size:10px;">{!IF(account.Contract_Type_Signed__c == 'VATIT LUX', 'TecEx a division of VATit (Luxembourg) S.à r.l.', 'VATIT USA, Inc dba TecEx')}</span><br/>
                                <span style="display: {!IF(account.Contract_Type_Signed__c == 'VATIT LUX', '', 'none')}; font-size:10px;">14-16 Rue Phillipe II L-2340, Luxembourg</span>
                            </td>
                            <td >
                                <span style=" font-size:10px;">{!IF(account.Contract_Type_Signed__c == 'VATIT LUX', 'Le montant du capital social: Euro 12 500', '1206 Laskin Rd, Virginia Beach, VA, 23451')}</span><br/>
                                <span style="display: {!IF(account.Contract_Type_Signed__c == 'VATIT LUX', '', 'none')}; font-size:10px;">Sa forme juridique: Societe a responsabilite limitee</span>
                            </td>
                            <td >
                                <span style="font-size:10px;">{!IF(account.Contract_Type_Signed__c == 'VATIT LUX', 'VAT number: LU 22944907', 'EIN: 263649614')}</span><br/>
                                <span style="display: {!IF(account.Contract_Type_Signed__c == 'VATIT LUX', '', 'none')}; font-size:10px;">Reg no. RCS Luxembourg RCS B136 565 </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="position: absolute;">
                <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/slope.png')}" style="height:37px; position: relative; top: 0px; right: -59.5px;" />
            </div>
            <div class="content">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px; vertical-align:top;">Bill To:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left;vertical-align:top;">
                                    	<apex:outputText value="{!If(customerInvoice.Bill_To__c = null, account.Name , customerInvoice.Bill_To__c)}" />
                                    </td>
                                    <td rowspan="7" align="center" width="50" style="vertical-align:top;">
                                        <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/Divider.png')}" style=" height:152px; margin-bottom:-50px; width:4px;" />
                                    </td>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px; vertical-align:top;">
                                        <apex:outputText value="{0}">
												<apex:param value="{!if(!ISNULL(CustomerInvoice.Freight_Request__r.Name),'Freight Request #:','Shipment Order #:') }" />
											</apex:outputText>
                                    </td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left; vertical-align:top;">
										<apex:outputText value="{!if(!ISNULL(CustomerInvoice.Freight_Request__r.Name), CustomerInvoice.Freight_Request__r.Name, CustomerInvoice.Shipment_Order__r.Name)}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px; vertical-align:top;" rowspan="4">Bill Address:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left; vertical-align:top;" rowspan="4">
                                        <apex:outputText value="{!If(customerInvoice.Billing_Street__c = null, account.BillingStreet, customerInvoice.Billing_Street__c)}"/><br/>
                                                    <apex:outputText value="{!If(customerInvoice.Billing_City__c = null, account.BillingCity, customerInvoice.Billing_City__c)}"/><br/>
                                                    <apex:outputText value="{!If(customerInvoice.Billing_State__c = null, account.BillingState, customerInvoice.Billing_State__c)}"/><br/>
                                                    <apex:outputText value="{!If(customerInvoice.Billing_Country__c = null, account.BillingCountry, customerInvoice.Billing_Country__c)}"/><br/>
                                                    <apex:outputText value="{!If(customerInvoice.Billing_Postal_Code__c = null, account.BillingPostalCode, customerInvoice.Billing_Postal_Code__c)}"/><br/>
                                    </td>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px; vertical-align:top;">Invoice #:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left; vertical-align:top;">
                                    	<apex:outputText value="{!if(!ISNULL(CustomerInvoice.Invoice_Name__c), CustomerInvoice.Invoice_Name__c,CustomerInvoice.Name)}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px; vertical-align:top;">PO Reference:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left; vertical-align:top;">
                                    	<apex:outputText value="{!IF(ISBLANK( CustomerInvoice.PO_Number_Override__c), CustomerInvoice.PO_Number__c, CustomerInvoice.PO_Number_Override__c)}" rendered="{!CustomerInvoice.PO_Number_Override__c!= null || CustomerInvoice.PO_Number__c!= null}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px;vertical-align:top;">Invoice Date:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left;vertical-align:top;">
                                    	<apex:outputText value="{0,date,dd'/'MM'/'yyyy}" rendered="{!CustomerInvoice.Invoice_Sent_Date__c!= null}">
                                                        <apex:param value="{!CustomerInvoice.Invoice_Sent_Date__c}" /> 
                                                    </apex:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px;vertical-align:top;">Prepayment Date:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left;vertical-align:top;">
                                    	<apex:outputText value="{0,date,dd'/'MM'/'yyyy}" rendered="{!CustomerInvoice.Prepayment_Date__c != null}">
                                                        <apex:param value="{!CustomerInvoice.Prepayment_Date__c}" /> 
                                                    </apex:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px;vertical-align:top;" rowspan="2">Tax/VAT Number:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left;vertical-align:top;" rowspan="2">
                                    <apex:outputText value="{!if(CustomerInvoice.VAT_Number_Override__c != null, CustomerInvoice.VAT_Number_Override__c, account.VAT_Number__c) }" />
                                    </td>
                                    <td style="font-weight:bold;color:#f8bbad; padding-bottom:5px;vertical-align:top;">Due Date:</td>
                                    <td style="color:#f8bbad; padding-bottom:5px; text-align:left;vertical-align:top;">
                                    	<apex:outputText value="{0,date,dd'/'MM'/'yyyy}" rendered="{!CustomerInvoice.Due_Date__c != null}" >
                                                        <apex:param value="{!CustomerInvoice.Due_Date__c}" /> 
                                                    </apex:outputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; color:#3b4651; padding-bottom:5px;vertical-align:top;">Invoice Currency:</td>
                                    <td style="color:#787f87; padding-bottom:5px; text-align:left;vertical-align:top;">
                                        <apex:outputText value="{!CustomerInvoice.Invoice_Currency__c}" rendered="{!CustomerInvoice.Invoice_Currency__c != null}" /></td>
                                </tr>
                                
                            </table>
                        </td>
                    </tr>
                    <tr><td style="height:20px;"></td></tr>
                    <tr>
                        <td style="border:1px solid #e5e9ed; padding:15px;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <label style="font-size:11px;color:#787f87;display:block;padding-bottom:3px;">Amount outstanding</label>
                                        <strong style="font-size:15px; color:#3b4651; display:block;">
                                        	<apex:outputText value="{0, number, ###,###,###,###,##0.00}" rendered="{!CustomerInvoice.Amount_Outstanding__c != null}">
                                                            <apex:param value="{!CustomerInvoice.Amount_Outstanding_Local_Currency__c}"/>
                                                            </apex:outputText>
                                        </strong>
                                    </td>
                                    <td>
                                    	<label style="font-size:11px;color:#787f87; display:block;padding-bottom:3px;">Due date</label>
                                        <b style="color:#ED1C25;font-size:15px; display:block;">Due on <apex:outputText value="{0, date, d MMMM yyyy}" rendered="{!CustomerInvoice.Amount_Outstanding__c != null}">
                                                            <apex:param value="{!CustomerInvoice.Due_Date__c}"/>
                                                            </apex:outputText></b>
                                    </td>
                                    <td align="right">
                                        <strong style="font-size:12px;display:block; font-weight:600;padding-bottom:3px;">
                                            <apex:outputText value="{!shipmentOrder.Client_Reference__c}"
                                                rendered="{!shipmentOrder.Client_Reference__c != null}" />
                                        </strong>
                                        <div style="font-weight:600; font-size:11px; color:#787f87;">
                                        	<apex:outputText value="{!shipmentOrder.Client_Reference_2__c}"
                                                rendered="{!shipmentOrder.Client_Reference_2__c != null}" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div style="height:15px;"> </div>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
                                <tr>
                                    <td style="border-right:1px solid #d8dadc; text-align:left;width:22.5%;">
                                        <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/PlaneTakeoff.png')}" style="height: 23px;vertical-align:middle;"/>
                                        &nbsp;<apex:outputText value="{!shipmentOrder.Ship_From_Country__c}"/>
                                    </td>
                                    <td style="border-right:1px solid #d8dadc; text-align:center;width:22%;">
                                        <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/Value.png')}" style="height: 22px; vertical-align:middle;"/>
                                        <apex:outputText value="$ {0, number, ###,###,###,###,##0.00}" >
                                                                        <apex:param value="{!shipmentOrder.Shipment_Value_USD__c}"/>
                                                                        </apex:outputText>
                                    </td>
                                    <td style="border-right:1px solid #d8dadc; text-align:center;">
                                        <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/Location.png')}" style="height: 23px; vertical-align:middle;"/>
                                        <apex:outputText value="{0, number, ###,###,###,###,##0}">
                                                                            <apex:param value="{!shipmentOrder.Final_Deliveries_New__c}" />
                                                                        </apex:outputText>
                                    </td>
                                    <td style="border-right:1px solid #d8dadc; text-align:center;">
                                        <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/LineItems.png')}" style="height: 19px; vertical-align:middle;"/>
                                        <apex:outputText value="{0, number, ###,###,###,###,##0}">
                                                                            <apex:param value="{!shipmentOrder.of_packages__c}" />
                                                                        </apex:outputText>
                                    </td>
                                    <td style=" text-align:right;">
                                        <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/Weight.png')}" style="height: 23px; vertical-align:middle;"/>
                                        <apex:outputText value="{0, number, ###,###,###,###,##0}">
                                                                        <apex:param value="{!shipmentOrder.Chargeable_Weight__c}" />
                                                                        </apex:outputText>&nbsp;kgs
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td style="height:23px;"></td></tr>
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
                                <tr style="display: {!IF(ISNULL(customerInvoice.IOR_Fees__c) || customerInvoice.IOR_Fees__c == 0, 'none', '')};">
                                    <td style="color:#787f87; padding-bottom:10px;">IOR &amp; Import Compliance Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                            <apex:param value="{!customerInvoice.IOR_Fees__c}"/>
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.EOR_Fees__c) || customerInvoice.EOR_Fees__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">EOR Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.EOR_Fees__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Admin_Fees__c) || customerInvoice.Admin_Fees__c == 0, 'none', '')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Admin Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651; padding-bottom:10px;">
                                    	<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                            <apex:param value="{!customerInvoice.Admin_Fees__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Bank_Fee__c) || customerInvoice.Bank_Fee__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Bank Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Bank_Fee__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                
                                <tr style="display: {!IF(ISNULL(customerInvoice.Customs_Brokerage_Fees__c) || customerInvoice.Customs_Brokerage_Fees__c == 0, 'none', '')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Customs Brokerage Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Customs_Brokerage_Fees__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Customs_Clearance_Fees__c ) || customerInvoice.Customs_Clearance_Fees__c  == 0, 'none', '')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Customs Clearance Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Customs_Clearance_Fees__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Customs_Handling_Fees__c) || customerInvoice.Customs_Handling_Fees__c == 0, 'none', '')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Customs Handling Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Customs_Handling_Fees__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Customs_License_In__c) || customerInvoice.Customs_License_In__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Customs License Fees</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Customs_License_In__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>   
                                <tr style="display: {!IF(ISNULL(customerInvoice.Miscellaneous_Fee__c) || customerInvoice.Miscellaneous_Fee__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;"><apex:outputText value="{!customerInvoice.Miscellaneous_Fee_Name__c}"/></td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Miscellaneous_Fee__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Cash_Outlay_Fee__c) || customerInvoice.Cash_Outlay_Fee__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Cash Disbursement Fee</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Cash_Outlay_Fee__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Possible_Cash_Outlay__c) || customerInvoice.Possible_Cash_Outlay__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Cash Disbursement Fee (entitled to deduct this amount if paid before&nbsp;<apex:outputText value="{0,date,dd'/'MM'/'yyyy}" rendered="{!CustomerInvoice.Invoice_Sent_Date__c!= null}">
                                                        <apex:param value="{!customerInvoice.Prepayment_Date__c}" /> 
                                                    </apex:outputText>&nbsp;)</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Possible_Cash_Outlay__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Liability_Cover_Fee__c) || customerInvoice.Liability_Cover_Fee__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Liability Cover fee</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Liability_Cover_Fee__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                
                                <tr style="display: {!IF(ISNULL(customerInvoice.International_Freight_Fee__c) || customerInvoice.International_Freight_Fee__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">International Freight Fee</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.International_Freight_Fee__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Collection_Administration_Fee__c) || customerInvoice.Collection_Administration_Fee__c == 0, 'none','')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Collection Administration Fee</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Collection_Administration_Fee__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr style="display: {!IF(ISNULL(customerInvoice.Taxes_and_Duties__c) || customerInvoice.Taxes_and_Duties__c == 0, 'none', '')};">
                                    <td style="color:#787f87; padding-bottom:10px;">Tax and duty</td>
                                    <td style="font-weight:bold; text-align:right; color:#3b4651;  padding-bottom:10px;">
                                    	
                                            <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                                <apex:param value="{!customerInvoice.Taxes_and_Duties__c}" />
                                            </apex:outputText>
                                    </td>
                                </tr>
                                                                
                            </table>
                        </td>
                        <div style="height:8px;"></div>
                    </tr>
                    <tr><td style="border-top:1px solid #d8dadc;"></td></tr>
                    <tr>
                        <td style="padding-top:8px; padding-bottom:8px;">
                        	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
                            	<tr>
                                	<td style="font-size:14px; padding:8px 0; text-align:left;">Total Invoice Amount</td>
                                    <td style="font-size:14px; padding:8px 0; text-align:right">
                                    	<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                            <apex:param value="{!customerInvoice.Total_Amount_Incl_Potential_Cash_Outlay__c}"/>
                                            </apex:outputText>
                                    </td>
                                </tr>
                                <tr>
                                	<td style="font-size:14px; padding:8px 0; text-align:left;">Applied Amount</td>
                                    <td style="font-size:14px; padding:8px 0; text-align:right;">
                                    	<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                            <apex:param value="{!(customerInvoice.Total_Value_Applied__c / customerInvoice.Conversion_Rate__c)}"/>
                                            </apex:outputText>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top:1px solid #d8dadc;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
                                <tr>
                                    <td style="display: {!if(customerInvoice.Possible_Cash_Outlay__c != null && customerInvoice.Possible_Cash_Outlay__c != 0, 'none', '')}; padding-bottom:8px;padding-top:8px;"><strong style=" font-size:15px;">Total</strong></td>
                                    <td style="display:{!if(customerInvoice.Possible_Cash_Outlay__c != null && customerInvoice.Possible_Cash_Outlay__c != 0, '', 'none')}; padding-bottom:8px;padding-top:8px;"><strong style=" font-size:15px;"><apex:outputText value="Total if paid by {0,date,dd'/'MM'/'yyyy}">
                                        <apex:param value="{!customerInvoice.Prepayment_Date__c}" />
                                        </apex:outputText></strong></td>
                                    <td style="text-align:right;padding-bottom:5px;"><strong style="font-size:15px;">
                                        	<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
                                            <apex:param value="{!customerInvoice.Amount_Outstanding_Local_Currency__c}"/>
                                            </apex:outputText>
                                        </strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                    	<td style="paddint-top:15px;"><i style="color:#f8bbad; padding-top:15px; padding-bottom:18px; display:block">*Please refer to the additional information on page 2 of the invoice</i></td>
                    </tr>
                </table>                
            </div>
            <div style="page-break-after: always;" />
            <div style="position: absolute;">
                <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/slope.png')}" style="height:37px; position: relative; top: 0px; right: -59.5px;" />
            </div>
            <div class="content2">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding-bottom:25px;">
                    <tr><td style="padding:15px 0;"></td></tr>
                    <tr>
                        <td style="border:1px solid #e5e9ed; color:#787f87;">
                            <img src="{!URLFOR($Resource.TECstaticResource, 'Assets/Icons/Lightbulb.png')}" style=" height:30px; margin-top:-4px; margin-left:-4px;" />
                            <div style=" padding:0 12px 10px; margin-left:40px; line-height:20px;margin-top:-22px;">
                                <strong style="display:block; font-size:13px;">Invoice Notes:</strong> 
                                <apex:outputText value="{!customerInvoice.Invoice_Note__c}" />
                                <div style="height:70px;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="color:#787f87; padding-top:25px; padding-bottom:5px; text-align:left; vertical-align:top; list-style:none; font-size:12px;">
                            <ul>
                                <li style="display: {!IF(ISNULL(customerInvoice.International_Freight_Fee__c) || customerInvoice.International_Freight_Fee__c == 0, 'none','')}; padding-bottom:20px; font-size:12px;">
                                    &bull;&nbsp;International delivery fee is estimated based on weights and dimensions provided at time of cost estimate. If final weights and dimensions differ, freight estimate will adjust
                                    accordingly. The current fee is an estimate based on the chargeable weight of&nbsp;<apex:outputText value="{!shipmentOrder.Chargeable_Weight__c}" />&nbsp;kg that you have provided.
                                </li>
                                <li style="display: {!IF(ISNULL(customerInvoice.Liability_Cover_Fee__c) || customerInvoice.Liability_Cover_Fee__c == 0, 'none','')};padding-bottom:20px; font-size:12px;">
                                    &bull;&nbsp;As per clause 3(iii) of the Agreement, TecEx must be notified prior to the prepayment date (<apex:outputText value="{!account.Prepayment_Term_Days__c}" />&nbsp;days from invoice issue) should liability cover not be required as this has been
									included above.
                                    <i  style="padding-top:5px; font-size:12px;">
                                        NOTE:  Client's insurance with their current freight forwarder will not cover the goods for the local delivery.
                                    </i>
                                </li>
                                <li style="display: {!IF(ISNULL(customerInvoice.Possible_Cash_Outlay__c) || customerInvoice.Possible_Cash_Outlay__c == 0, 'none','')}; padding-bottom:20px; font-size:12px;">
                                    &bull;&nbsp;A cash disbursement fee of&nbsp;<apex:outputText value="{!account.Finance_Charge__c}" />%&nbsp;will be charged if the full invoice amount is not settled prior to the prepayment date (<apex:outputText value="{!account.Prepayment_Term_Days__c}" />&nbsp; days from invoice issue).
                                </li>
                                <li style="display: {!IF(ISNULL(customerInvoice.Taxes_and_Duties__c) || customerInvoice.Taxes_and_Duties__c == 0, 'none', '')}; padding-bottom:20px; font-size:12px;">
                                    &bull;&nbsp;Taxes &amp; Duties provided above are only an estimate and may be subject to change. Duties included in this estimate are based on HS codes for typical network equipment.
                                </li>
                                <li style="display: {!IF(ISNULL(customerInvoice.Taxes_and_Duties__c) || customerInvoice.Taxes_and_Duties__c == 0, 'none', '')}; padding-bottom:20px; font-size:12px;">
                                    &bull;&nbsp;These services are to be treated as supplied to you and by you for VAT purposes, and you may be subject to a reverse charge in your jurisdiction pursuant to Article 196 of the Principal VAT Directive or equivalent reverse charge provisions in your legislation.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr><td style="padding:20px 0;"></td></tr>
                    <tr >
                        <td style="border:1px solid #e5e9ed; padding:15px;">
                            <strong style="display:block; font-size:13px; padding-bottom:15px;">Payment methods</strong> 
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
                                <tr>
                                	<td style="font-size:12px;color:#787f87;"><u>Wire transfers:</u></td>
                                    <td rowspan="2" style="width: 3px;background-repeat: repeat-y; background: url(/resource/1611334943000/TECstaticResource/Assets/Icons/Divider.png)no-repeat; background-size: 2px; padding-right: 15px;"></td>
                                    <td style="font-size:12px;color:#787f87;"><u>Credit Card:</u></td>
                                </tr>
                                <tr>
                                    <td style="color:#787f87; line-height:20px; font-size:12px;">
                                        US Details <br/>
                                        
                                        BANK: Bank of the West <br/>
                                        ROUTING #: 121100782 <br/>
										SWIFT #: BWSTUS66 <br/>
                                        ACCOUNT: 046489191 <br/>
                                        ACCOUNT NAME: VATit USA INC <br/>
                                        BANK ADDRESS: 300 South Grand <br/>
                                        Avenue, 13th Floor Los Angeles, CA <br/>
                                        90071 <br/>
                                        PH#: 1-888-727-2692 <br/>
                                    </td>
                                    <td style="color:#787f87; line-height:20px; font-size:12px; vertical-align:top;">
                                        Please contact your account manager.
                                        <br/>
                                        NOTE: An additional fee of 5% of total invoice amount is charged
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </body>
    </html>
</apex:page>