<apex:page standardController="Account" showHeader="false"  standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" renderAs="pdf" extensions="CTRL_tecexStatementOfAccounts">
<html>
<head>
	<style type="text/css">
		body{ font-family: Verdana, Geneva, sans-serif;
					font-size:11px;
					
				}
		
		@page {
            margin-top: 3cm;
            margin-bottom: 1cm;
            margin-left: 0.2cm;
            margin-right: 0.2cm;
						
		
			
			@bottom-left {
										content: element(footer);
									}
			@top-right{
                  content: element(headerTableClass);
										
								}
			
			}
		
		#headerTable{width:100%;
					position: running(headerTableClass);
								}
		#customerInfoTable{width:100%;}
		#lineItemsTable{width:100%;
						-fs-table-paginate: paginate;}
		
		#grandTotalTable{width:100%;
						page-break-inside: avoid;
						}

		#agingTable{width:100%;
								page-break-inside: avoid;}
		#bankingDeatilsTable{width:100%;
							page-break-inside: avoid;}
		#footerTableId{	width:100%;
									
						}
		
		.footerTableClass{background-image: url("{!$Resource.rectbackground}") !important;
											background-size: cover !important;
											background-position: center center center !important;
											overflow: hidden;
											background-repeat: no-repeat !important;
											width:100%;
											}

		.pagenumber:before {
													content: counter(page);
												}

    .pagecount:before {
						content: counter(pages);
											}
	
	div.footer {
                display: block;
                padding: 5px;
                position: running(footer);
								
                }

	

	#imageTable {
							padding-bottom: 0px;
							margin-bottom:0cm;
							}
	div.imageTableClass{
											display: block;
	}
	</style>
</head>
<body >
	<div class="footer">
    <table id="footerTableId" >
		<tr >
			<td align="left" style="border-top: 1px solid #000000; font-weight:bold;" class="footerTableClass">
				Page&nbsp;<span class="pagenumber"/>&nbsp;of&nbsp;<span class="pagecount"/>
			</td>
		</tr>
	</table>
  </div>
	<table cellspacing="0" id="headerTable" class="headerTableClass">
		<tr >
			<td width="90%" style="padding-left:8.8px">
				<dl>
					<dt>
						Tecex a division of VATit S.a.r.l
					</dt>
					<dt>
						14-16 Rue Phillippe II
					</dt>
					<dt>
						L-2340, Luxembourg
					</dt>
					<dt>
						Le montant du capital social: Euro 12 500
					</dt>
					<dt>
						Sa Forme juridique: Societe a respnsabilite limitee
					</dt>
					<dt>
						VAT Number: LU 22944907
					</dt>
					<dt>
						Reg No. RCS Luxembourg RCS B136 565
					</dt>
				</dl>
			</td>
			<td width="10%" >
				<img src="https://tecex--c.eu17.content.force.com/servlet/servlet.ImageServer?id=0151v000002o0Zg&oid=00D0Y000001KRPf"/>
			</td>
		</tr>
	</table><br/>
	<table cellspacing="0" id="customerInfoTable">
		<tr>
			<td align="left" valign="top" style="border-bottom: 1px solid #000000; border-top: 1px solid #000000;">
				<dl>
					<dt><b>Customer Name:</b></dt>
					<dt><apex:outputText value="{!account.Name}" /></dt>
					<dt><apex:outputText value="{!account.BillingStreet}"/></dt>
					<dt><apex:outputText value="{!account.BillingCity}"/></dt>
					<dt><apex:outputText value="{!account.BillingState}"/></dt>
					<dt><apex:outputText value="{!account.BillingCountry}"/></dt>
					<dt><apex:outputText value="{!account.BillingPostalCode}"/></dt>
				</dl>
			</td>
			<td align="right" valign="top" style="border-bottom: 1px solid #000000; border-top: 1px solid #000000;">
				<b> Statement Date:</b> &nbsp;&nbsp; <apex:outputText value="{0,date}"><apex:param value="{!today()}" /></apex:outputText>
			</td><br/>
		</tr>
	</table>

	<table id="lineItemsTable">
		<thead style="color:white; background-color: #797171;">
		<tr>
			<th align="center">
				<b>Shipment #</b>
			</th>
			<th align="center">
				<b>Receipt / Invoice #</b>
			</th>
			<th align="center">
				<b>PO#</b>
			</th>
			<th align="center">
				<b>Ship to Country</b>
			</th>
			<th align="center">
				<b>Type</b>
			</th>
			<th align="center">
				<b>Due Date</b>
			</th>
			<th align="center">
				<b>Invoice Total(USD)</b>
			</th>
			<th align="center">
				<b>Balance(USD)</b>
			</th>
		</tr>
		</thead>

		<apex:outputPanel rendered="{!bankTransactionsList.size=0 && customerInvoiceList.size=0}">
      <tr>
        <td class="tableRow" style="width:800px" colspan="5">No outstanding billings</td>
      </tr>
    </apex:outputPanel>
		
		<tbody>
			<apex:repeat value="{!bankTransactionsList}" var="bt">
			<tr style="display: {!IF(bankTransactionsList.size==0, 'none', 'table-row')}">
				<td>

				</td>
				<td>
					<apex:outputText value="{!bt.Name}"/>
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					Unapplied Payment
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td align="right">
                    <apex:outputText value="{0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!bt.Unapplied__c*-1}"/>
                    </apex:outputText>
				</td>
			</tr>
			</apex:repeat>
			<apex:repeat value="{!customerInvoiceList}" var="inv">
			<tr>
				<td>
					<apex:outputText value="{!inv.Shipment_Order__r.Name}"/>
				</td>
				<td>
					<apex:outputText value="{!inv.Name}"/>
				</td>
				<td>
					<apex:outputText value="{!inv.PO_Number__c}"/>
				</td>
				<td>
					<apex:outputText value="{!inv.Ship_To_Country__c}"/>
				</td>
				<td>
					<apex:outputText value="{!inv.Invoice_Type__c}"/>
				</td>
				<td>
					<apex:outputText value="{0,date,yyyy/MM/dd}">
						<apex:param value="{!inv.Due_Date__c}"/>
					</apex:outputText>
				</td>
				<td align="right">
					<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!inv.Invoice_amount_USD__c}"/>
					</apex:outputText>
				</td>
				<td align="right">
					<apex:outputText value="{0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!inv.Amount_Outstanding__c}"/>
					</apex:outputText>
				</td>
			</tr>
			</apex:repeat>
		</tbody>
	</table>
	<table cellspacing="0" id="grandTotalTable">
		<tr>
			<td width="88%" align="right" style="border-top: 1px solid #000000;">
				<b>Amount Due:</b>
			</td>
			<td width="12%" align="right" style="border-top: 1px solid #000000;">
				<b><apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!amountDue}"/>
					</apex:outputText>
				</b>
			</td>
		</tr>
		<tr style="display:{!IF(ISNULL(account.Penalty_Amount_Due__c) || account.Penalty_Amount_Due__c == 0, 'none', 'table-row')}">
			<td width="88%%" align="right">
				<b>Penalty Amount Due:</b>
			</td>
			<td width="12%" align="right">
				<b><apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Penalty_Amount_Due__c}"/>
					</apex:outputText>
				</b>
			</td>
		</tr>
		<tr>
			<td width="88%%" align="right" >
				<b>Total Amount Due:</b>
			</td>
			<td width="12%" align="right" style="border-bottom: 2px solid #000000; border-style:double none">
				<b>
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Penalty_Amount_Due__c + amountDue }"/>
					</apex:outputText>
				</b>
			</td>
		</tr>
	</table><br/><br/><br/>

	<table id="agingTable">
		<thead style="color:white; background-color: #797171;">
			<tr>
				<th align="center">
					0-Current
				</th>
				<th align="center">
					1-30 Days
				</th>
				<th align="center">
					31-60 Days
				</th>
				<th align="center">
					61-90 Days
				</th>
				<th align="center">
					Over 90 Days
				</th>
				<th align="center">
					Unapplied credits/payment
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td align="center">
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Amount_Outstanding_0_Current__c }"/>
					</apex:outputText>
				</td>
				<td align="center">
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Amount_Outstanding_1_30_Days__c }"/>
					</apex:outputText>
				</td>
				<td align="center">
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Amount_Outstanding_31_60_Days__c }"/>
					</apex:outputText>
				</td>
				<td align="center">
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Amount_Outstanding_61_90_Days__c }"/>
					</apex:outputText>
				</td>
				<td align="center">
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Amount_Outstanding_Over_90_Days__c }"/>
					</apex:outputText>
				</td>
				<td align="center">
					<apex:outputText value="$ {0, number, ###,###,###,###,##0.00}">
						<apex:param value="{!account.Unapplied_credits_payments__c}"/>
					</apex:outputText>
				</td>
			</tr>
		</tbody>
	</table> <br/><br/><br/><br/>

	<table id="bankingDeatilsTable">
		<tr>
			<td align="left">
				<dl>
					<dt>
						<b>US Details:</b>
					</dt>
					<dt>
						BANK: Bank of the West
					</dt>
					<dt>
						ROUTING #: 121100782
					</dt>
					<dt>
						SWIFT #: BWSTUS66
					</dt>
					<dt>
						ACCOUNT NAME: VATit USA INC
					</dt>
				</dl>
			</td>
		</tr>
	</table>
<!--
	<div class="imageTableClass">
	<table id ="imageTable">
		<tr>
			<td width ="100%" valign="bottom">
				<img src="https://tecex--nadia.cs88.my.salesforce.com/servlet/servlet.ImageServer?id=0159E000000fHb4QAE&oid=00D9E00000021Ny"/>
			</td>
		</tr>
	</table>
	</div> -->
</body>
</html>

</apex:page>