.THIS .textWidth{
	width:200px;
  max-width:75%
}
.THIS .text100Width{
	width:100px;
  max-width:75%
}
.THIS.bkgClr{
  background-color: #eceaea;
}
.THIS .groupedPartsTableWidth{
    max-width: 90%;
    max-height: 15rem;
}
.THIS .buttonColor{
    color: black;
}
.THIS .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.THIS .img {
    width: 20px;
    height: 20px;
}
.THIS .caption {
    display: block;
}
.THIS .hide-lable label{
  display: none;
}