.THIS .greenCorner{
  border-left: 20px solid transparent;
  border-right: 20px solid #70ad48;
  border-top: 20px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}