.THIS .spanWidth{
    width: 135px;
}
.THIS.absPos{
    position: absolute;
    width: 100%;
}
.THIS .matchedBackground{
    background: Green;
}
.THIS .unmatchedBackground{
    background: Red;
}
.THIS .capturedBackground{
    color: green;
    margin-right: 0.5rem;
    margin-top: .5rem;
}
.THIS .commentBackground{
	color: red;
    margin-right: 0.5rem;
    margin-top: .5rem;    
}
.THIS .tableHeight{
    height: 18rem!important;
    overflow: auto;
    clear: both;
    border: 1px solid #d9dbdd;
}
.THIS .tableHeight thead th { 
    position: sticky; 
    top: 1.375rem;
    z-index: 99;
    border-bottom: 1px solid #d9dbdd;
}
.THIS .tableHeight thead tr:first-child th { 
    top: 0; 
    background: #e9eaec;
}
.THIS .tableHeight tr { 
    border-bottom: 1px solid #d9dbdd;
}
.THIS .btnfloat{
    float:right;
    margin-top: -1.2rem;
    margin-bottom: .5rem;
}