.THIS .label-hidden > label {
    display: none;
}
.THIS .textPadding{
    padding-top: .5rem;
    text-align: right;
}
.THIS .unselectable{ 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;   
}