.THIS div.tableDiv {
    overflow: auto;
    position: relative;
}
.THIS table.tableCss {
    position: relative;
}

/*.THIS table.tableCss td,.THIS table.tableCss th {
    padding: 0.25rem;
}


.THIS table.tableCss tbody td:nth-child(1),.THIS table.tableCss thead th:nth-child(1){
    left:0rem;
    z-index: 99;
}*/
.THIS .customRequired{
    font-weight: 400; }
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; } .THIS .none{
    display:none; }

.THIS .slds-table thead th{
    color: rgb(0, 0, 0);
}

.THIS .changeHeadingSOSP thead tr th{
    color: black;
    background-color: rgb(216 214 214);
}
.THIS .slds-form-element__control{
        text-align-last: center;
}
.THIS .slds-form-element__label{
        text-align-last: left;

}