.THIS .refreshBtn{
  position: absolute;
  right: 2rem;
  vertical-align: middle;
  line-height: 1.7rem;
  cursor:pointer;
}
.THIS .slds-card__header{
display: none;
}
.THIS .outText{
width: max-content;
line-height: 2rem;
font-size: 18px;
}
.THIS .linkText{
width: max-content;
line-height: 2rem;
font-size: 14px;
margin-left: 2rem;
}
.THIS .dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.THIS .rectangle {
    width: 60px;
    height: 6px;
    display: inline-block;
    
}