.THIS {
}
.THIS.home-popin {
    position: absolute;
    right: 0;
    width: auto;
    min-width: 300px;
    z-index: 100;
    /* padding: .5rem;
    background: white;
    border: 1px solid #EFEFEF; */
}
.THIS div.panelFooter{
    Padding: 15px
}