.THIS .tableFixHead {
    overflow-y: auto; 
    max-height: 21rem;
    padding-top:0 !important;
}
.THIS .slds-has-error .slds-form-element__help {
    color: #FFF;
}
.THIS .tableFixHead thead th { 
    position: sticky; 
    top: 1.375rem;
    z-index: 99;
}
.THIS .tableFixHead thead tr:first-child th { 
    top: 0; 
}
.THIS .hsCodeColor{
	background-color:#9fc1ff;
}
.THIS .matchedHsCodeColor{
	background-color:#E95037;
}