.THIS .customRequired{
    font-weight: 400; } .THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; } .THIS .none{
    display:none; }
.THIS .slds-form-element__control{
        text-align-last: center;
}
.THIS .slds-form-element__label{
        text-align-last: left;

}
.THIS.lookup-disabled, .THIS.lookup-disabled input {
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgb(236, 235, 234);
    border-color: rgb(201, 199, 197);
}