.THIS .leftPaddingClass {
  padding-left: 2rem;
  min-height: 0;
}

.THIS .pillSize{
  width:100%;
  height: 32px;
  justify-content: unset;
}

.THIS .pillSize .slds-pill__label{
  position: absolute;
  left: 35%;
}
.THIS .pillSize .slds-pill__remove{
  position: absolute;
  right: 5px;
}
.THIS .removeIcon .slds-pill__remove{
  display:none;
}