.THIS .section-border{
  position: relative;
  border: 1px solid rgba(215, 218, 233, 1);
  border-radius: 5px;
  /* min-height: 5rem;
  max-height: 10rem;
  overflow: auto; */
  background-color: #f0f0f0;
}
.THIS .img-align-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
}

.THIS .action-container{
  width: 25%;
  position: relative;
  text-align: right;
}
.THIS .innerItemList{
  overflow: auto;
  min-height: 5rem;
  max-height: 7rem;
}
.THIS .reason-text{
  position: absolute;
  bottom: 0;
  left: 0;
}
.THIS .reason-text .slds-button__icon{
  width: 25px;
  height: 25px;
}