.THIS div.tableDiv {
    overflow: auto;
    position: relative;
}
.THIS table.tableCss {
    position: relative;
}

.THIS table.tableCss td,.THIS table.tableCss th {
    padding: 0.25rem;
}

/*.THIS table.tableCss thead th {
    position: sticky;
}*/
/*.THIS table.tableCss tbody td:nth-child(1),.THIS table.tableCss thead th:nth-child(1){
    left:0rem;
    z-index: 99;
}*/
.THIS .customRequired{
    font-weight: 400; } .THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; } .THIS .none{
    display:none; }
.THIS .changeHeadingSOSP thead tr th{
    background-color: rgb(216 214 214);
    color: black;
}
.THIS .rowF {
    display: flex;
    flex-direction: column;/* equal height of the children */
    
}

.THIS .columnF {
    flex: 1; /* additionally, equal width */
    padding: 1em;
    border: solid;
    /* margin: 20px;
    padding-bottom: 100%;
    margin-bottom: -100%;*/
}
.THIS .width{
    width: 31.5%;
}
.THIS .pickup{
        font: menu;
    color: #3c3a39;
    font-weight : 400;
    font-size : 0.75rem;

}
.THIS .slds-form-element__control{
        text-align-last: center;
}
.THIS .slds-form-element__label{
        text-align-last: left;

}