.THIS.tableFixHead {
    margin-left: 1rem;
    border:1px solid black;
    overflow-y: auto; 
    max-height: 15rem; 
}
.THIS.tableFixHead thead th { 
    position: sticky; top: 0; 
    background: #D3D3D3;
    z-index: 99;
}